.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.search-bar input {
  width: 287px;
  padding: 0.88rem 0;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #010c3f;
  text-align: center;
  font-size: 1rem;
}

.search-bar input:focus {
  outline: none;
}

.button {
  cursor: pointer;
  width: 8.11rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  background-color: #010c3f;
  text-align: center;
  font-size: 0.833rem;
  transition: background-color 0.25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.button:hover {
  background-color: rgba(108, 65, 233, 0.7);
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 1020px) {
  .search-bar {
    flex-direction: column;
  }
}
